<section class="section">
  <div class="container">
    <h1 class="title">
      <%= @post.title %>
      </h1>
    <div class="content">
      <%= @post.content %>
    </div>
<h1> Comments </h1>
    <div class="comments_actual">
    <% @comments.each do |comment| %>
     <p>
        <span><%= comment.content %></span>
        <span> | </span>
        <span><%= link_to 'Show', post_comment_path(@post, comment), method: :get %></span>
        <span> | </span>
        <span><%= link_to 'Edit', edit_post_comment_path(@post, comment) %></span>
        <span> | </span>
        <span> <%= link_to 'Delete', post_comment_path(@post, comment), method: :delete, data: { confirm: "Are you sure?" } %></span>
      </p>
    <% end %>
    </div>

    <div class="level-right">
      <p class="level-item">
        <%= link_to "Edit", edit_post_path(@post), class:"button" %>
      </p>
      <p class="level-item">
        <%= link_to "Destroy", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class:"button is-danger" %>
      </p>
    </div>



    <div class="comments">
      <%= simple_form_for([@post, @post.comments.build]) do |f| %>
      <div class="form-inputs">
       <%= f.input :content, wrapper: false, label_html: { class: 'label'} %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, 'Add  a comment', class: "button is-primary"%>
      </div>
    <% end %>
    </div>
  </div>

</section>